<html>
  <div class="container">
    <div class="row">
      <div
        class="col-10"
        style="margin-top: 18px; margin-bottom: 4px"
        *ngIf="selectedArtist"
      >
        <h1>{{ selectedArtist.artName }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-10" style="margin-top: 4px; margin-bottom: 4px">
        <h3>Albums</h3>
      </div>
    </div>
    <div class="row">
      <div
        class="col-3"
        style="margin-bottom: 16px"
        *ngFor="let album of albums"
      >
        <div class="card">
          <img
            class="card-img-top"
            style="height: 25vw"
            src="
          assets/albums/{{ album.versionImgPath }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ album.albumName }}</h5>
            <p class="card-text">
              {{ album.version }}
              -
              <span *ngIf="album.owned">Owned</span>
              <span *ngIf="!album.owned && album.onTheWay">On The Way</span>
              <span *ngIf="!album.owned && !album.onTheWay">Unowned</span>
            </p>
            <p class="card-text">
              <a [routerLink]="['/album', album.albumID]" style="color: #2d3142"
                >See Details</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-10" style="margin-top: 4px; margin-bottom: 4px">
        <h3>Photocards</h3>
      </div>
    </div>
    <div class="row">
      <div
        class="col-3"
        style="margin-bottom: 16px"
        *ngFor="let photocard of photocards"
      >
        <div class="card">
          <img
            class="card-img-top"
            style="height: 25vw"
            src="
              assets/photocards/{{ photocard.pcImgPath }}"
          />
          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <h5 class="card-title">
                  {{ photocard.memberName }} ({{ photocard.artName }})
                </h5>
                <p>
                  <span *ngIf="photocard.pcOwned">Owned</span>
                  <span *ngIf="!photocard.pcOwned && photocard.pcOnTheWay"
                    >On The Way</span
                  >
                  <span *ngIf="!photocard.pcOwned && !photocard.pcOnTheWay"
                    >Unowned</span
                  >
                </p>
                <p class="card-text">
                  <a
                    [routerLink]="['/album', photocard.albumID]"
                    style="color: #2d3142"
                  >
                    {{ photocard.albumName }}
                  </a>
                </p>
              </div>
              <!-- <div class="col-2">
                <button mat-icon-button class="small-icon-button" (click)="updateStatus(0)">
                  <mat-icon>check_circle_outline</mat-icon>
                </button>
                <button mat-icon-button class="small-icon-button" (click)="updateStatus(1)">
                  <mat-icon>schedule</mat-icon>
                </button>
                <button mat-icon-button class="small-icon-button" (click)="updateStatus(2)">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
