<html>
  <div class="container">
    <div class="row">
      <div class="col-10" style="margin-top: 18px; margin-bottom: 4px">
        <h1>My Albums</h1>
      </div>
    </div>
    <div class="row">
      <div
        class="col-3"
        style="margin-bottom: 16px"
        *ngFor="let album of albums"
      >
        <div class="card">
          <img
            class="card-img-top"
            src="
        assets/albums/{{ album.versionImgPath }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ album.albumName }}</h5>
            <p class="card-text">{{ album.version }}</p>
            <p class="card-text">
              <a [routerLink]="['/album', album.albumID]" style="color: #2d3142;">See Details</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
