<html>
  <div class="container">
    <div class="row">
      <div class="col-10" style="margin-top: 18px; margin-bottom: 4px">
        <h1>My Photocards</h1>
      </div>
      <div class="col-2" style="margin-top: 18px; margin-bottom: 4px">
        <button
          mat-stroked-button
          style="color: #2d3142; font-weight: bold; font-size: large"
          [matMenuTriggerFor]="menu"
        >
          FILTER
          <mat-icon iconPositionEnd>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div class="container" (click)="$event.stopPropagation()">
            <mat-expansion-panel class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>Owned?</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-radio-group
                class="rg-col"
                [(ngModel)]="selectedOwned"
                (change)="updateFilters()"
              >
                <mat-radio-button [value]="'owned'">Owned</mat-radio-button>
                <mat-radio-button [value]="'unowned'">Unowned</mat-radio-button>
                <mat-radio-button [value]="'ontheway'"
                  >On the way</mat-radio-button
                >
                <mat-radio-button [value]="'all'">All</mat-radio-button>
              </mat-radio-group>
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>Artist</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-checkbox
                *ngFor="let artist of artists"
                [(ngModel)]="artist.isSelected"
                (change)="updateFilters()"
                >{{ artist.artName }}</mat-checkbox
              >
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>Album</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-checkbox
                *ngFor="let album of albums"
                [(ngModel)]="album.isSelected"
                (change)="updateFilters()"
                >{{ album.albumName }}</mat-checkbox
              >
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>Member</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-checkbox
                *ngFor="let member of members"
                [(ngModel)]="member.isSelected"
                (change)="updateFilters()"
                >{{ member.memberName }}</mat-checkbox
              >
            </mat-expansion-panel>
          </div>
        </mat-menu>
      </div>
      <div class="row">
        <div
          class="col-3"
          style="margin-bottom: 16px"
          *ngFor="let photocard of photocards"
        >
          <div class="card">
            <img
              class="card-img-top"
              src="
              assets/photocards/{{ photocard.pcImgPath }}"
            />
            <div class="card-body">
              <div class="row">
                <div class="col-10">
                  <h5 class="card-title">
                    {{ photocard.memberName }} ({{ photocard.artName }})
                  </h5>
                  <p>
                    <span *ngIf="photocard.pcOwned">Owned</span>
                    <span *ngIf="!photocard.pcOwned && photocard.pcOnTheWay"
                      >On The Way</span
                    >
                    <span *ngIf="!photocard.pcOwned && !photocard.pcOnTheWay"
                      >Unowned</span
                    >
                  </p>
                  <p class="card-text">
                    <a
                      [routerLink]="['/album', photocard.albumID]"
                      style="color: #2d3142"
                    >
                      {{ photocard.albumName }}
                    </a>
                  </p>
                </div>
                <div class="col-2">
                  <button mat-icon-button class="small-icon-button" (click)="updateStatus(photocard.pcID, 0)">
                    <mat-icon>check_circle_outline</mat-icon>
                  </button>
                  <button mat-icon-button class="small-icon-button" (click)="updateStatus(photocard.pcID, 1)">
                    <mat-icon>schedule</mat-icon>
                  </button>
                  <button mat-icon-button class="small-icon-button" (click)="updateStatus(photocard.pcID, 2)">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                  <button mat-icon-button class="small-icon-button" (click)="updateStatus(photocard.pcID, 3)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
