.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.rg-col {
    display: flex; flex-direction: column;
    /* display: inline-grid; */ 
    /* display: grid; */
    /* margin: 15px 0; */
  }