<html>
  <div class="container">
    <div class="row">
      <div class="col-10" style="margin-top: 18px; margin-bottom: 4px">
        <h1>My Photocards</h1>
      </div>
    </div>
    <div class="row">
      <div
        class="col-3"
        style="margin-bottom: 16px"
        *ngFor="let photocard of photocards"
      >
        <div class="card">
          <img
            class="card-img-top"
            src="
        {{ photocard.imageFilePath }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ photocard.name }}</h5>
            <p class="card-text">
              <a style="color: #2d3142;">{{photocard.album}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
