<html>
  <div class="container">
    <div class="row">
      <div class="col-10" style="margin-top: 18px; margin-bottom: 4px">
        <h1>My Artists</h1>
      </div>
    </div>
    <div class="row">
      <div
        class="col-4"
        style="margin-bottom: 16px"
        *ngFor="let artist of artists"
      >
        <div class="card">
          <img
            class="card-img-top"
            src="
            assets/{{ artist.artImgPath }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ artist.artName }}</h5>
            <p class="card-text">
              <a [routerLink]="['/artist', artist.artID]" style="color: #2d3142;">See Details</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
