<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="button-row">
    <button
      mat-button
      style="
        color: #2d3142;
        font-weight: bold;
        font-size: large;
        margin-left: 20px;
      "
      routerLink=""
    >
      HOME
    </button>
    <button
      mat-button
      style="
        color: #2d3142;
        font-weight: bold;
        font-size: large;
        margin-left: 20px;
      "
      routerLink="artists"
    >
      ARTISTS
    </button>
    <button
      mat-button
      style="
        color: #2d3142;
        font-weight: bold;
        font-size: large;
        margin-left: 20px;
      "
      routerLink="albums"
    >
      ALBUMS
    </button>
    <button
      mat-button
      style="
        color: #2d3142;
        font-weight: bold;
        font-size: large;
        margin-left: 20px;
      "
      routerLink="photocards"
    >
      PHOTOCARDS
    </button>
  </div>
  <div class="spacer"></div>
  <button
    mat-stroked-button
    style="
      color: #2d3142;
      font-weight: bold;
      font-size: large;
      margin-right: 20px;
    "
    [matMenuTriggerFor]="menu"
  >
    ADD
    <mat-icon iconPositionEnd>expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog(0)">ARTIST</button>
    <button mat-menu-item (click)="openDialog(1)">ALBUM</button>
    <!-- <button mat-menu-item (click)="openDialog(2)">PHOTOCARD</button> -->
  </mat-menu>
</div>

<router-outlet></router-outlet>
