<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="button-row">
    <button
      mat-button
      style="
        color: #2d3142;
        font-weight: bold;
        font-size: large;
        margin-left: 20px;
      "
    >
      HOME
    </button>
    <button
      mat-button
      style="
        color: #2d3142;
        font-weight: bold;
        font-size: large;
        margin-left: 20px;
      "
    >
      GROUPS
    </button>
    <button
      mat-button
      style="
        color: #2d3142;
        font-weight: bold;
        font-size: large;
        margin-left: 20px;
      "
    >
      ALBUMS
    </button>
    <button
      mat-button
      style="
        color: #2d3142;
        font-weight: bold;
        font-size: large;
        margin-left: 20px;
      "
    >
      PHOTOCARDS
    </button>
  </div>
  <div class="spacer"></div>
  <button
    mat-stroked-button
    style="
      color: #2d3142;
      font-weight: bold;
      font-size: large;
      margin-right: 20px;
    "
    [matMenuTriggerFor]="menu"
  >
    ADD
    <mat-icon iconPositionEnd>expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>GROUP</button>
    <button mat-menu-item>ALBUM</button>
    <button mat-menu-item>PHOTOCARD</button>
  </mat-menu>
</div>

  <app-home></app-home>

<!-- <router-outlet></router-outlet> -->