<html>
  <div class="container">
    <div class="row">
      <div class="col-10" style="margin-top: 18px; margin-bottom: 4px" *ngIf="selectedAlbum">
        <h1>{{selectedAlbum.albumName}}</h1>
      </div>
    </div>

  
      <div class="row">
        <div class="col-10" style="margin-top: 4px; margin-bottom: 4px">
          <h3>Album Versions</h3>
        </div>
      </div>
      <div class="row">
        <div
          class="col-3"
          style="margin-bottom: 16px"
          *ngFor="let album of albums"
        >
          <div class="card">
            <img
              class="card-img-top"
              style="height: 25vw"
              src="
              assets/albums/{{ album.versionImgPath }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ album.albumName }}</h5>
              <p>
                <span *ngIf="album.owned">Owned</span>
                <span *ngIf="!album.owned && album.onTheWay">On The Way</span>
                <span *ngIf="!album.owned && !album.onTheWay">Unowned</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10" style="margin-top: 4px; margin-bottom: 4px">
          <h3>Photocards</h3>
        </div>
      </div>
      <div class="row">
        <div
          class="col-3"
          style="margin-bottom: 16px"
          *ngFor="let photocard of photocards"
        >
          <div class="card">
            <img
              class="card-img-top"
              style="height: 25vw"
              src="
              assets/photocards/{{ photocard.pcImgPath }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ photocard.memberName }} ({{photocard.artName}})</h5>
              <p>
                <span *ngIf="photocard.pcOwned">Owned</span>
                <span *ngIf="!photocard.pcOwned && photocard.pcOnTheWay">On The Way</span>
                <span *ngIf="!photocard.pcOwned && !photocard.pcOnTheWay">Unowned</span>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</html>
