<html>
  <div class="container">
    <div class="row">
      <div class="col-12" style="margin-top: 18px; margin-bottom: 12px">
        <h1>Home</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-10" style="margin-top: 4px; margin-bottom: 4px">
        <h3>My Artists</h3>
      </div>
      <div class="col-2" style="display: flex; flex-direction: column">
        <button
          mat-button
          class="align-self-end"
          style="color: #2d3142; font-weight: bold; font-size: larger"
          routerLink="artists"
        >
          SEE ALL
        </button>
      </div>
    </div>
    <div class="row">
      <div
        class="col-3"
        style="margin-bottom: 16px"
        *ngFor="let artist of artists.slice(0, 4)"
      >
        <div class="card">
          <img
            class="card-img-top"
            style="height: 20vw"
            src="
        assets/artists/{{ artist.artImgPath }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ artist.artName }}</h5>
            <p class="card-text">
              <a [routerLink]="['/artist', artist.artID]" style="color: #2d3142"
                >See Details</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-10" style="margin-top: 4px; margin-bottom: 4px">
        <h3>My Albums</h3>
      </div>
      <div
        class="col-2"
        style="
          margin-top: 4px;
          margin-bottom: 4px;
          display: flex;
          flex-direction: column;
        "
      >
        <button
          mat-button
          class="align-self-end"
          style="color: #2d3142; font-weight: bold; font-size: larger"
          routerLink="albums"
        >
          SEE ALL
        </button>
      </div>
    </div>
    <div class="row">
      <div
        class="col-3"
        style="margin-bottom: 16px"
        *ngFor="let album of albums.slice(0, 4)"
      >
        <div class="card">
          <img
            class="card-img-top"
            style="height: 25vw"
            src="
        assets/albums/{{ album.versionImgPath }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ album.albumName }}</h5>
            <p class="card-text">
              {{ album.version }}
              -
              <span *ngIf="album.owned">Owned</span>
              <span *ngIf="!album.owned && album.onTheWay">On The Way</span>
              <span *ngIf="!album.owned && !album.onTheWay">Unowned</span>
            </p>
            <p class="card-text">
              <a [routerLink]="['/album', album.albumID]" style="color: #2d3142"
                >See Details</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-10" style="margin-top: 4px; margin-bottom: 4px">
        <h3>My Photocards</h3>
      </div>
      <div
        class="col-2"
        style="
          margin-top: 4px;
          margin-bottom: 4px;
          display: flex;
          flex-direction: column;
        "
      >
        <button
          mat-button
          class="align-self-end"
          style="color: #2d3142; font-weight: bold; font-size: larger"
          routerLink="photocards"
        >
          SEE ALL
        </button>
      </div>
    </div>
    <div class="row">
      <div
        class="col-3"
        style="margin-bottom: 16px"
        *ngFor="let photocard of photocards.slice(0, 4)"
      >
        <div class="card">
          <img
            class="card-img-top"
            style="height: 25vw"
            src="
            assets/photocards/{{ photocard.pcImgPath }}"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ photocard.memberName }} ({{ photocard.artName }})
            </h5>
            <p>
              <span *ngIf="photocard.pcOwned">Owned</span>
              <span *ngIf="!photocard.pcOwned && photocard.pcOnTheWay">On The Way</span>
              <span *ngIf="!photocard.pcOwned && !photocard.pcOnTheWay">Unowned</span>
            </p>
            <p class="card-text">
              <a
                [routerLink]="['/album', photocard.albumID]"
                style="color: #2d3142"
              >
                {{ photocard.albumName }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
