/* my-form.component.css */

form {
    width: 550px;
    margin: 20px auto;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  mat-label {
    color: #2d3142; /* Adjust the color as needed */
  }
  
  mat-error {
    color: #f44336;
  }
  
  mat-select {
    min-width: 100%;
  }
  