<!-- my-form.component.html -->

<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()"> -->
<form>

    <div>
        <h3 *ngIf="data.type === 0">Add Artist</h3>
        <h3 *ngIf="data.type === 1">Add Album</h3>
        <h3 *ngIf="data.type === 2">Add Photocard</h3>
    </div>
    <div *ngIf="data.type === 2 || data.type === 1">
        <mat-form-field appearance="fill">
            <mat-label>Select Artist</mat-label>
            <mat-select formControlName="dropdown" required>
              <mat-option *ngFor="let artist of data.artists" [value]="artist.id">
                {{ artist.name }}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="myForm.get('dropdown').hasError('required') && myForm.get('dropdown').touched">
              Please select an album.
            </mat-error> -->
          </mat-form-field>
    </div>
    <div *ngIf="data.type === 2">
        <mat-form-field appearance="fill">
            <mat-label>Select Album</mat-label>
            <mat-select formControlName="dropdown" required>
              <mat-option *ngFor="let album of data.albums" [value]="album.id">
                {{ album.name }}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="myForm.get('dropdown').hasError('required') && myForm.get('dropdown').touched">
              Please select an album.
            </mat-error> -->
          </mat-form-field>
    </div>
  
    <div>
      <mat-form-field appearance="fill">
        <mat-label *ngIf="data.type === 0">Artist Name</mat-label>
        <mat-label *ngIf="data.type === 1">Album Name</mat-label>
        <mat-label *ngIf="data.type === 2">Photocard Identifier</mat-label>
        <input matInput type="text" formControlName="textField" required>
        <!-- <mat-error *ngIf="myForm.get('textField').hasError('required') && myForm.get('textField').touched">
          This field is required.
        </mat-error> -->
      </mat-form-field>
    </div>
  
    <div style="margin-bottom: 20px;">
      <!-- <mat-form-field appearance="fill">
        <mat-label>Upload File</mat-label> -->
        <input matInput type="file" formControlName="file" required>
        <!-- <mat-error *ngIf="myForm.get('file').hasError('required') && myForm.get('file').touched">
          Please upload a file.
        </mat-error> -->
      <!-- </mat-form-field> -->
    </div>
  
    <button mat-raised-button type="submit">Submit</button>
  </form>
  